<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кошик із замовленням</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/6721/6721251.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pizza King</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main-page">Головна</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Меню
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pizzas">Піца</a></li>
                        <li><a class="dropdown-item" href="/drinks">Напої</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>
<div th:switch="${baskets}">
    <h2 th:case="null">Замовлень не знайдено!</h2>
    <div th:case="*">
        <h2 class="mt-2" style="text-align: center">Ваше замовлення:</h2>
        <hr>
        <table class="table table-hover" style="width: 450px; margin: auto; vertical-align: middle">
            <thead>
            <th></th>
            <th>Назва</th>
            <th style="width: 80px">Ціна</th>
            <th style="width: 50px"></th>
            </thead>
            <tbody>
            <tr th:each="basket : ${baskets}">
                <td><img th:src="${basket.productUrl}" style="width: 100px"></td>
                <td th:text="${basket.productName}"></td>
                <td>
                    <span th:text="${basket.productPrice}"></span>
                    <span> ₴</span>
                </td>
                <td><a style="padding: 1px 22px" th:href="@{delete-from-basket/{id}(id=${basket.id})}" role="button"><img src="https://cdn-icons-png.flaticon.com/512/4225/4225690.png" style="width: 30px;"></a></td>
            </tr>
            </tbody>
        </table>
        <div style="margin-left: 700px">
                <span class="fs-4">Сума: </span>
                <span class="fs-4" th:utext="${orderSum}"></span>
                <span class="fs-4"> ₴</span>
        </div>
        <hr>
        <div style="text-align: center;"><a class="btn btn-warning" style="padding: 6px 15px" href="/checkout" role="button">Оформити замовлення</a></div>
    </div>
</div>

</body>
</html>