<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Піцерія PizzaKing</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/6721/6721251.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://i.imgur.com/9y81bMv.png" width="100px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main-page">Головна</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Меню
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/pizzas">Піца</a></li>
                        <li><a class="dropdown-item" href="/drinks">Напої</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div style="
    display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(25%);">
        <form style="width: 400px; margin: auto" method="post" action="/save-order">
            <label for="customerName" class="form-label">Введіть ваше ім‘я</label>
            <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Ім‘я" required>

            <label for="customerSurname" class="form-label">Введіть ваше прізвище</label>
            <input type="text" class="form-control" id="customerSurname" name="customerSurname" placeholder="Прізвище" required>

            <label for="customerPhonenumber" class="form-label">Введіть ваш номер телефону</label>
            <input type="text" class="form-control" id="customerPhonenumber" name="customerPhonenumber" placeholder="Номер телефону" required>

            <label for="customerAddress" class="form-label">Введіть адресу для доставки</label>
            <input type="text" class="form-control" id="customerAddress" name="customerAddress" placeholder="Адреса для доставки" required>

            <input type="submit" style="margin-top: 3%" class="btn btn-warning" th:href="@{/save-order}" value="Підтвердити замовлення">
        </form>
    </div>
</div>
</body>
</html>